asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.7
django-census-places==1.2.6
django-geolocation==0.2
django-localflavor==4.0
django-location==2.1.1
django-mailbox==4.10.1
django-neighborhoods==2.0.1
django-social-auth==0.7.28
djangorestframework==3.15.2
httplib2==0.22.0
idna==3.7
jsonfield==3.1.0
lxml==5.2.2
oauth2==1.9.0.post1
pillow==10.4.0
pyicloud_dwoh==0.4.1
pyparsing==3.1.2
python-openid==2.2.5
python-stdnum==1.20
pytz==2024.1
requests==2.32.3
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.2
folium
selenium
webdriver-manager
